.footer {
  background: var(--primary-black);
  color: var(--primary-white);
  padding: 3rem;

  a {
    text-decoration: none;
    color: var(--primary-white);   
  }

  p {
    margin-bottom: 0;
  }
}
